output.txt
node_modules
dist
.mastra
.mastra/*.json
.env.development
.env
*.db
*.db-*
.netlify
.vercel
.idea
# Ignore Mastra/observability local DB artifacts
mastra.db
src/mastra/public/mastra.duckdb
src/mastra/public/mastra.duckdb.wal
